.dashboard__rightbuttons {
    display: flex;
}

@media (max-width: 576px) {
    .modal-dialog {
        width: 100% !important;
        margin: 1.75rem auto;
    }
}

body {
    padding-right: 0px !important;
}
