.MuiListItem-gutters {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.adminTeamsCardMore {
    right: 16px;
}

.MuiPopover-paper {
    min-width: 164px !important;
}
.MuiList-padding {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.MuiTypography-body1 {
    font-size: 1.1rem !important;
    font-weight: 700 !important;
}
.MuiDivider-root {
    background-color: #000000 !important;
}
