.css-1hwfws3 {
    height: 56px;

    .css-1wa3eu0-placeholder {
        top: 28px !important;
    }
}

.css-1uccc91-singleValue {
    top: 32px !important;
}

.setting {
    min-height: 0 !important;
}