.forgotPasswordPage {
    &__wrapper {
        display: grid;
        min-height: 100vh;
        grid-template-columns: 2fr 1fr;
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
    &__image-wrapper {
        display: flex;
        background-color: $login-background-color;
        justify-content: center;
        align-items: center;
    }
}

.forgotPassword {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // height: 100%;
        padding-top: 82px;
        padding-bottom: 24px;
        padding-right: 24px;
        padding-left: 24px;
        .form {
            align-self: stretch;
            &__link {
                font-family: inherit;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 1%;
                padding-top: 10px;
                color: #333;
                text-decoration: none;
                line-height: 20px;
                &:hover {
                    text-decoration: underline;
                }
            }
            &__label {
                font-family: inherit;
                font-weight: bold;
                font-size: 14px;
                letter-spacing: $btn-letter-spacing1;
                color: $black-color;
                margin-left: 12px;
                line-height: 20px;
                &:hover {
                    text-decoration: underline;
                }
            }
            label {
                font-family: inherit;
                font-weight: 600;
                font-size: $font-14;
                margin-bottom: 8px;
                line-height: 20px;
            }
            &__group {
                display: flex;
                flex-direction: column;
                margin: 40px 0;
            }
            input {
                font-family: "Open Sans";
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                border: 1px solid #C4C4C4;
                font-size: 14px;
                font-weight: 600;
                height: 56px;
                border-radius: 4px;
                &:focus {
                    outline: none;
                    box-shadow: 0px 1px 1px 0px #a0a0a0;
                }
            }
            .button--block {
                letter-spacing: $btn-letter-spacing1;
                line-height: 20px;
                font-weight: bold;
            }
            .description {
                margin-top: 24px;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                span {
                    font-weight: bold;
                }
            }
        }
    }
    .button--block {
        letter-spacing: $btn-letter-spacing1;
        line-height: 20px;
        font-weight: bold;
    }
    &__header {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
    }
    &__title {
        font-size: 32px;
        text-align: center;
        font-weight: bold;
        line-height: 44px;
    }
    &__info {
        text-align: center;
        /* padding: 0 0.5rem; */
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 168px;
    }
}

.forgotPassword__mid {
    margin-top: 115px;
    margin-bottom: 168px;
}

.success__mid {
    margin-top: 115px;
}

.success__title {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    line-height: 44px;
    margin-bottom: 248px;
}

.success__info {
    text-align: center;
    /* padding: 0 0.5rem; */
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 247px;
    height: 60px;
}