.main {
  &__headerwithcontent {
    flex: 1;
    margin-left: 5rem;
  }
  &__content {
    min-height: calc(100vh - 72px);
    transition: width 0.2s;
  }
  &__sidebar-container {
    width: 236px;
    overflow: hidden;
    transition: width 0.2s;
    @media (max-width: 768px) {
      width: 5rem;
    }
  }

  &__sidebar-container-collapse {
    width: 5rem;
  }
}
