.userInput {
    width: 100%;
    top: 15.7%;
    position: absolute;
    &.email {
        top: 31.8%;
    }
    &.role {
        top: 47.8%;
    }
    &.password {
        top: 63%;
    }
    &.send-account-detail {
        top: 81.7%;
        display: flex;
        label {
            margin-left: 38px;
            margin-top: 8px;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.01em;
            position: absolute;
        }
    }
    &.footer {
        top: 91%;
        display: flex;
        justify-content: space-evenly;
    }
    Label {
        width: 100%;
        height: 20px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }
    Input {
        width: 95%;
        height: 56px;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 20px;
        padding-left: 20.35px;
    }
}