.MuiMenu-list {
  background: #1e2c36;
  border-radius: 8px;
  .MuiDivider-root {
    background-color: white !important;
    margin: 0 6px 12px;
  }
  .MuiList-root {
    padding: 12px 20px 5px !important;
  }

  .heading {
    .MuiTypography-displayBlock {
      font-size: 16px !important;
    }
  }
  .MuiTypography-displayBlock {
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #ffffff;
    margin-bottom: 15px;
  }
}
