.select-react {
  &__indicator-separator {
    display: none;
  }
  &__control {
    cursor: pointer;
    padding-left: 20px;
    padding-right: 15px;
    border-color: transparent !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
    &--is-focused {
      border: 1px solid $headings;
      box-shadow: 0 0 0 1px $headings !important;
    }
    .select-react__value-container {
      padding: 0;
      .select-react__single-value {
        // top: 50% !important;
        overflow: visible;
        color: $paragraphs;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        top: 50% !important;
        font-family: "Open Sans";
      }
    }
  }
  &__indicators {
    .select-react__dropdown-indicator {
      padding: 0;
      color: #868e9a;
    }
  }
  &__placeholder {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: $icongraphy;
    font-family: "Open Sans";
  }
}
.select_table_option__dropdown-indicator {
  color: $headings !important;
}
.select_table_option {
  &__control {
  }
  &__value-container {
    //  height: auto;
  }
  &__placeholder {
    //   top: 0 !important;
  }
}
.select-outline {
  border: 1px solid $border-color;
  border-radius: 4px;
  .select-react {
    &__control {
      box-shadow: none;
    }
    &__placeholder {
      color: $icongraphy;

    }
  }
}

.select_datepicker {
  &__control {
    min-height: 28px !important;
    border: 1px solid $elements1;
    border-radius: 4px !important;
    padding: 0 12px;
    min-width: 110px;
    cursor: pointer !important;
    .select_datepicker__value-container {
      padding: 0 6px 0 0;
      &--has-value {
        .select_datepicker__single-value {
          color: $headings;
        }
      }
      .select_datepicker__placeholder {
        top: 13px !important;
      }
      .select_datepicker__single-value {
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        color: $icongraphy;
        top: 13px !important;
      }
    }
  }
  &__value-container {
    height: auto;
  }
  &__indicators {
    .select_datepicker__indicator {
      padding: 0;
    }
    .select_datepicker__indicator-separator {
      background: none;
    }
  }
}
